// Navigation code here
 
nav {
    h1 {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    div {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        width: 100%;

        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
            padding-right: 15px;
            padding-left: 15px;

            @media @mobile {
                padding-right: 10px;
                padding-left: 10px;
            }
            } 
        a:hover {
            text-decoration: underline;
        }
    }
}