// Navigation code here
 
nav {
    h1 {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    div {
        // .test;
        display: flex;
        justify-content: space-evenly;
        margin: 20px 75px;

        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
            padding-right: 15px;
            } 
        a:hover {
            text-decoration: underline;
        }
    }
}